{% extends 'SonataAdminBundle:CRUD:base_edit.html.twig' %}
{% block stylesheets %}
    <script src="{{ asset('js/tinymce/jquery.tinymce.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/tinymce/tinymce.min.js') }}" type="text/javascript"></script>
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    <script>
        tinymce.init({
            selector: 'textarea',
            setup: function(editor) {
                editor.getElement().removeAttribute('required');
            },
            theme: 'modern',
            language: 'ru',
            height: 300,
            fontsize_formats: "8pt 10pt 12pt 14pt 18pt 24pt 36pt",
            plugins: [
                'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
                'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
                'save table contextmenu directionality emoticons template paste textcolor'
            ],
            imagetools_toolbar: "rotateleft rotateright | flipv fliph | editimage imageoptions",
            image_advtab: true,
            browser_spellcheck: true,
            filemanager_access_key: "4d5c6e1d6d377c66faccb8b19b1cffc6",
            filemanager_title: "Библиотека файлов",
            external_filemanager_path: "{{ app.request.getBaseURL() }}/filemanager/",
            external_plugins: {"filemanager": "{{ app.request.getBaseURL() }}/filemanager/plugin.min.js"}
        });
    </script>
    {{ parent() }}
{% endblock %}