{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block content %}
    {% if employe is not null %}
        <div class="row mx-auto">
            <div class="col-md-6">
                <h1>{{ employe.name }}</h1>
                <div><b>id:</b> {{ employe.id }}</div>
                <div><b>Количество работ:</b> {{ count }}</div>
                <div><b>Оценки:</b></div>
                {% for review in reviews %}
                    <div>{{ review.review }}</div>
                {% endfor %}
            </div>

        </div>
    {% endif %}
{% endblock %}