{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block content %}
    <h1>Спиок сотрудников</h1>
    {% if employees is not null %}
        <div class="row pb-2 pt-2 book-head">
            <div class="col-md-1">#</div>
            <div class="col-md-3">Имя</div>
        </div>
        {% for employe in employees %}
            <div class="row pb-1 pt-1 booking-cell">
                <div class="col-md-1">{{ employe.id }}</div>

                <div class="col-md-3"><a href="{{ path('app-employe',{'id':employe.id }) }}">{{ employe.name }}</a>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}