{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block content %}
    <h1>Мои бронирования</h1>
    {% if bookings is not null %}
        <div class="row pb-2 pt-2 book-head">
            <div class="col-md-1">#</div>
            <div class="col-md-3">Адрес</div>
            <div class="col-md-2">Дата уборки</div>
            <div class="col-md-2">Успели</div>
            <div class="col-md-2">Рейтинг</div>
            <div class="col-md-2">Управление</div>
        </div>
        {% for booking in bookings %}
            <div class="row pb-1 pt-1 booking-cell">
                <div class="col-md-1">{{ booking.id }}</div>
                <div class="col-md-3">{{ booking.address }}</div>
                <div class="col-md-2">{{ booking.bookingDate | date("d.m.Y  H:i") }}</div>
                <div class="col-md-2">
                    {% if booking.isGood  == 1 %}
                        <i class="far fa-thumbs-up"></i>
                    {% endif %}
                    {% if booking.isGood  == 0 and booking.isGood is not null %}
                        <i class="far fa-thumbs-down"></i>
                    {% endif %}

                </div>
                <div class="col-md-2">{{ booking.review | raw }}</div>
                <div class="col-md-2">
                    {% if  booking.bookingDate > date("-2 days") %}
                        <a class="btn btn-danger"
                           href="{{ path('app_booking_remove' , {'id':booking.id} ) }}">Оменить</a>
                    {% endif %}
                    {% if  booking.bookingDate < date() %}
                        <a class="btn btn-success"
                           href="{{ path('app_review_booking',{'id': booking.id  }) }}">Оценить</a>
                    {% endif %}

                </div>

            </div>

        {% endfor %}

    {% endif %}


{% endblock %}