{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1>Оценить очистку</h1>
            {% if form is not null %}
                {{ form(form) }}
            {% endif %}
        </div>
    </div>



{% endblock %}