{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block content %}
    <h1>Расписание на 30 дней</h1>
    {% if bookings is not null %}
        <div class="row pb-2 pt-2 book-head">
            <div class="col-md-1">#</div>
            <div class="col-md-3">Адрес</div>
            <div class="col-md-2">Дата уборки</div>
            <div class="col-md-2">Сотрудники</div>
        </div>
        {% for booking in bookings %}
            <div class="row pb-1 pt-1 booking-cell">
                <div class="col-md-1">{{ booking.id }}</div>
                <div class="col-md-3">{{ booking.address }}</div>
                <div class="col-md-2">{{ booking.bookingDate | date("d.m.Y  H:i") }}</div>
                <div class="col-md-2">
                    {% for session in booking.sessions %}
                        {{ session.employe.name }}
                    {% endfor %}
                </div>

            </div>

        {% endfor %}

    {% endif %}


{% endblock %}